* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  background-color: #f8fafcf1;
}

/* NAVBAR */
nav {
  width: 100%;
  height: 80px;
  background: white;
}

ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  padding: 0 10px;
  list-style-type: none;
}

li a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  letter-spacing: 2px;
  font-weight: bold;
}

li a:hover {
  color: blue;
  transition: ease-in-out 0.3s;
}

/* FOOTER */
footer {
  background: black;
  color: white;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ARTICLE */
article {
  display: grid;
  place-items: center;
  background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)),
    url(./images/img.jpg) center/cover no-repeat;
}

h1 {
  color: white;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 3rem;
}
